*{
    box-sizing: border-box;
}

body{
    background-color: white;
    overflow-x: hidden;
}

.navbar{
    display: flex;
    position: absolute;
    top: 0;
    padding: 20px 20px;
    background-color: transparent;
    width: 100%;
    justify-content: space-evenly;
    font-size: 1rem;
}

.navbar-items{
    color: rgb(83, 83, 83);
    text-decoration: none;
    font-family: Helvetica;
}

.col1{
    display: flex;
    justify-content: center;
    text-align: center;
}

.col1 h2{
    position: absolute;
    top: 200px;
    left: 200px;
    color: #ffb701;
    font-size: 4.1rem;
    font-family: Helvetica;
}

.col1 p{
    position: absolute;
    top: 320px;
    left: 130px;
    text-align: center;
    color: rgb(83, 83, 83);
    font-family: Helvetica;
    font-size: 1.2rem;
}

.col2 img{
    position: absolute;
    top: 75px;
    right: 50px;
}

.card-1{
    display: flex;
}

.card-1 img{
    position: absolute;
    top: 720px;
    left: 110px;
    opacity: 1;
    border-radius: 30px;
}

.card-1 h3{
    position: absolute;
    top: 940px;
    left: 190px;
    color: #ffb701;
    font-size: 2.5rem;
    font-family: Helvetica;
}

.card-1 button{
    position: absolute;
    top: 1030px;
    left: 210px;
    border-radius: 30px;
    font-size: 1.3rem;
    font-family: Helvetica;
    color: white;
    background-color: rgb(175, 171, 171);
    border-style: hidden;
    width: 160px;
    height: 40px;
    cursor: pointer;
}

.card-2{
    display: flex;
}

.card-2 img{
    position: absolute;
    top: 715px;
    left: 610px;
    opacity: 1;
    border-radius: 30px;
}

.card-2 h3{
    position: absolute;
    top: 940px;
    left: 680px;
    color: #ffb701;
    font-size: 2.5rem;
    font-family: Helvetica;
}

.card-2 button{
    position: absolute;
    top: 1030px;
    left: 700px;
    border-radius: 30px;
    font-size: 1.3rem;
    font-family: Helvetica;
    color: white;
    background-color: rgb(175, 171, 171);
    border-style: hidden;
    width: 160px;
    height: 40px;
    cursor: pointer;
}

.card-3{
    display: flex;
}

.card-3 img{
    position: absolute;
    top: 700px;
    left: 1120px;
    opacity: 1;
    border-radius: 30px;
}

.card-3 h3{
    position: absolute;
    top: 940px;
    left: 1200px;
    color: #ffb701;
    font-size: 2.5rem;
    font-family: Helvetica;
}

.card-3 button{
    position: absolute;
    top: 1030px;
    left: 1210px;
    border-radius: 30px;
    font-size: 1.3rem;
    font-family: Helvetica;
    color: white;
    background-color: rgb(175, 171, 171);
    border-style: hidden;
    width: 160px;
    height: 40px;
    cursor: pointer;
}

.card-4{
    display: flex;
}

.card-4 img{
    position: absolute;
    top: 1150px;
    left: 360px;
    opacity: 1;
    border-radius: 30px;
}

.card-4 h3{
    position: absolute;
    top: 1380px;
    left: 450px;
    color: #ffb701;
    font-size: 2.5rem;
    font-family: Helvetica;
}

.card-4 button{
    position: absolute;
    top: 1465px;
    left: 445px;
    border-radius: 30px;
    font-size: 1.3rem;
    font-family: Helvetica;
    color: white;
    background-color: rgb(175, 171, 171);
    border-style: hidden;
    width: 160px;
    height: 40px;
    cursor: pointer;
}

.card-5{
    display: flex;
}

.card-5 img{
    position: absolute;
    top: 1140px;
    left: 880px;
    opacity: 1;
    border-radius: 30px;
}

.card-5 h3{
    position: absolute;
    top: 1380px;
    left: 970px;
    color: #ffb701;
    font-size: 2.5rem;
    font-family: Helvetica;
}

.card-5 button{
    position: absolute;
    top: 1465px;
    left: 990px;
    border-radius: 30px;
    font-size: 1.3rem;
    font-family: Helvetica;
    color: white;
    background-color: rgb(175, 171, 171);
    border-style: hidden;
    width: 160px;
    height: 40px;
    cursor: pointer;
}

.image img{
    position: absolute;
    top: 1555px;
    left: 50px;
}

.imgtext p{
    position: absolute;
    top: 1840px;
    right: 50px;
    text-align: center;
    font-family: Helvetica;
    color: rgb(83, 83, 83);
    font-size: 1.25rem;
}

@media screen and (max-width: 700px){
    .navbar{
        max-width: 100%;
        width: 100%;
    }
    .navbar-items{
        font-size: 1rem;
        max-width: 100%;
    }
    .col1{
        text-align: center;
        justify-content: center;
    }
    .col1 h2{
        top: 70px;
        font-size: 3rem;
        text-align: center;
        justify-content: center;
    }
    .col1 p{
        top: 170px;
        font-size: 1rem;
        text-align: center;
        justify-content: center;
    }
    .col2 img{
        width: 450px;
        height: auto;
        position: absolute;
        top: 250px;
        left: 60px;
    }
    .card-1{
        position: absolute;
        top: 50px;
    }
    .card-2{
        position: absolute;
        top: 460px;
        left: -480px;
    }
    .card-3{
        position: absolute;
        top: 900px;
        left: -990px;
    }
    .card-4{
        position: absolute;
        top: 900px;
        left: -220px;
    }
    .card-5{
        position: absolute;
        top: 1350px;
        left: -760px;
    }
    .image img{
        width: 450px;
        height: auto;
        position: absolute;
        top: 2400px;
        left: 80px;
    }
    .imgtext p{
        top: 2900px;
        left: 100px;
        font-size: 1rem;
    }
}